<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_stock_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_stock_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockMarket">
        <!-- Compose screens are routed inside MainActivity via NavController. -->
        <activity
            android:name=".DashboardScreen"
            android:exported="false"
            android:label="@string/title_activity_dashboard_screen"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".OTPInput"
            android:exported="false"
            android:label="@string/title_activity_otpinput"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".MPINScreen"
            android:exported="false"
            android:label="@string/title_activity_mpinscreen"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".ForgotPasswordScreen"
            android:exported="false"
            android:label="@string/title_activity_forgot_password_screen"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".LoginScreen"
            android:exported="false"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".SplashScreen"
            android:exported="false"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>