<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_stock_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_stock_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockMarket">
        <activity
            android:name=".tabs.ExploreScreen"
            android:exported="false" />
        <!-- Compose screens are routed inside MainActivity via NavController. -->
        <activity
            android:name=".DashboardScreen"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".OTPScreen"
            android:exported="false"
            android:label="@string/title_activity_otp_input"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".MPINScreen"
            android:exported="false"
            android:label="@string/title_activity_mpin"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".ForgotPasswordScreen"
            android:exported="false"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".LoginScreen"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".SplashScreen"
            android:exported="false"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.StockMarket" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>